
    <!-- Header -->
    <div class="category-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

   <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Browse Your Collections from Chennai</h2>
                    <div class="col-lg-3  col-sm-3 content1-style">
                    <img class="img-responsive" src="images/intro-bg.jpg" alt="">
                     </div>
                     <div class="col-lg-3  col-sm-3 content1-style">
                    <img class="img-responsive" src="images/intro-bg.jpg" alt="">
                     </div>
                     <div class="col-lg-3  col-sm-3 content1-style">
                    <img class="img-responsive" src="images/intro-bg.jpg" alt="">
                     </div>
                     <div class="col-lg-3  col-sm-3 content1-style">
                    <img class="img-responsive" src="images/intro-bg.jpg" alt="">
                     </div>
                     <div class="col-lg-3  col-sm-3 content1-style">
                    <img class="img-responsive" src="images/intro-bg.jpg" alt="">
                     </div>
                     <div class="col-lg-3  col-sm-3 content1-style">
                    <img class="img-responsive" src="images/intro-bg.jpg" alt="">
                     </div>
                     <div class="col-lg-3  col-sm-3 content1-style">
                    <img class="img-responsive" src="images/intro-bg.jpg" alt="">
                     </div>
                     <div class="col-lg-3  col-sm-3 content1-style">
                    <img class="img-responsive" src="images/intro-bg.jpg" alt="">
                     </div> 
                      <div class="col-lg-3  col-sm-3 content1-style">
                    <img class="img-responsive" src="images/intro-bg.jpg" alt="">
                     </div>
                     <div class="col-lg-3  col-sm-3 content1-style">
                    <img class="img-responsive" src="images/intro-bg.jpg" alt="">
                     </div>
                     <div class="col-lg-3  col-sm-3 content1-style">
                    <img class="img-responsive" src="images/intro-bg.jpg" alt="">
                     </div>
                     <div class="col-lg-3  col-sm-3 content1-style">
                    <img class="img-responsive" src="images/intro-bg.jpg" alt="">
                     </div>
                     <div class="col-lg-3  col-sm-3 content1-style">
                    <img class="img-responsive" src="images/intro-bg.jpg" alt="">
                     </div>
                     <div class="col-lg-3  col-sm-3 content1-style">
                    <img class="img-responsive" src="images/intro-bg.jpg" alt="">
                     </div>                      
                </div>
                
            </div>

        </div>`
        <!-- /.container -->

    </div>
