<div class="color-overlay"> 
    <div>   
        <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#landx-navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><h4><span class="strong colored-text">Fashion</span> World</h4></a>
                   </div>
                
            </div>         
        </div>     
    </div>  
</div>

  
<section class="section1" id="section1">
<div class="container target custom-nav">
    <div class="row">
      <div class="col-sm-3"><a href="/users">Collections from chennai</a>
      </div>
    </div>
  <br>    
          
        <div class="row col-md-12">
            
            <div class="col-md-3 right-border">
                <div class="list-group">
                    <span class="filter-heading">Sort by</span>
                    <div class="input-group filter-box">
                    <input type="text" class="form-control input-sm filter-input" placeholder="Popularity" aria-describedby="basic-addon2"><span class="input-group-addon"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-minus"></span></span>
                    </div>
                    <div class="target">
                    <ul class="filter-list">
                    <li><span>Popularity</span></li>
                    <li><span>Rating</span></li>
                    <li><span>Cost</span></li>
                    <li><span>Style</span></li>
                    </ul>
                    </div>
                    </div>
                    <div class="list-group">
                    <span class="filter-heading">Location</span>
                    <div class="input-group filter-box">
                    <input type="text" class="form-control input-sm filter-input" placeholder="Type to filter" aria-describedby="basic-addon2"><span class="input-group-addon"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-minus"></span></span>
                    </div>

                    <div class="target1">
                    <ul class="filter-list">
                    <li><span>Popularity</span></li>
                    <li><span>Rating</span></li>
                    <li><span>Cost</span></li>
                    <li><span>Style</span></li>
                    </ul>
                    </div>
                </div>
                <div class="list-group">
                    <span class="filter-heading ">Type</span>
                    <div class="input-group filter-box">
                    <input type="text" class="form-control input-sm filter-input" placeholder="Type to filter" aria-describedby="basic-addon2"><span class="input-group-addon"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-minus"></span></span>
                    </div>

                    <div class="target2">
                    <ul class="filter-list">
                    <li><span>Popularity</span></li>
                    <li><span>Rating</span></li>
                    <li><span>Cost</span></li>
                    <li><span>Style</span></li>
                    </ul>
                    </div>


                </div>
            </div>
            <!-- Content Column -->
            <!-- middle part starts -->
            <div class="col-md-8">
                 <div class="panel panel-default shop-detail-box">
                    <div class="panel-body">
                        <div class="pull-right shop-tag">
                            <span>Menu</span>
                            <span>Photos</span>
                            <span>Reviews</span>
                        </div>
                        <div class="shop-address">
                            <div class="line-one">The Chennai Silks</div>
                            <div class="line-two">Family Fashion</div>
                            <div class="line-three">
                                Area <span class="sub-text">>Street Name etc.</span>
                            </div>
                            <div class="line-four">Location</div>
                        </div>
                    </div>
                </div>
            <div class="">
                 <div class="panel panel-default shop-detail-box">
                    <div class="panel-body">
                        <div class="pull-right shop-tag">
                            <span>Menu</span>
                            <span>Photos</span>
                            <span>Reviews</span>
                        </div>
                        <div class="shop-address">
                            <div class="line-one">My Collection</div>
                            <div class="line-two">Category</div>
                            <div class="line-three">
                                Area <span class="sub-text">>Street Name etc.</span>
                            </div>
                            <div class="line-four">Location</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                 <div class="panel panel-default shop-detail-box">
                    <div class="panel-body">
                        <div class="pull-right shop-tag">
                            <span>Menu</span>
                            <span>Photos</span>
                            <span>Reviews</span>
                        </div>
                        <div class="shop-address">
                            <div class="line-one">My Collection</div>
                            <div class="line-two">Category</div>
                            <div class="line-three">
                                Area <span class="sub-text">>Street Name etc.</span>
                            </div>
                            <div class="line-four">Location</div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        </div>



</section>

 
 
 
<script>
 $(document).ready(function() {
 $(".target1").hide();
 $(".glyphicon-minus").hide();
  $(".glyphicon-plus").click(function(){
    $(".filter-input").addClass('remove-bottom-border');
         $(".target1").slideDown( 'fast', function(){
         $(".glyphicon-plus").hide();
         $(".glyphicon-minus").show();

                      });
      });

      $(".glyphicon-minus").click(function(){
        $(".filter-input").removeClass('remove-bottom-border');
         $(".target1").slideUp( 'fast', function(){
        $(".glyphicon-plus").show();
        $(".glyphicon-minus").hide();
        $(".filter-input").removeClass('remove-bottom-border');
          });
      });
  });
 </script>