[dbconfig]
PortNo=6033
IPAddress=localhost
Password=servquick123
Database_Driver=MYSQL
Database_Name=servquick
User_Name=servquick
User_Name1=
User_Name2=
resource.maxactive=100
resource.maxidle=30
cs.enable=true
BaseProduct=QSR
tomcat_conf_singlesignon=true
appDisplayName=ServQuick
isMultiTenant=false
sessionStore=redis
redisServer=localhost
redisPort=6379
