     <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Fashion World</a>
            </div>
       
        </div>
    </nav>


   <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Sidebar Page
                    <small>Subheading</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-md-3">
                <div class="list-group">
                    <div class="input-group">
                    <input type="text" class="form-control input-sm" placeholder="Recipient's username" aria-describedby="basic-addon2"><span class="input-group-addon"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-minus"></span></span>
                    </div>
                    
                    <div class="target">
                    <ui>
                    <li><span>Popularity</span></li>
                    <li><span>Rating</span></li>
                    <li><span>Cost</span></li>
                    <li><span>Style</span></li>
                    </ui>
                    </div>
                    <div class="input-group">
                    <input type="text" class="form-control input-sm" placeholder="Recipient's username" aria-describedby="basic-addon2"><span class="input-group-addon"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-minus"></span></span>
                    </div>
                    
                    <div class="target">
                    <ui>
                    <li><span>Popularity</span></li>
                    <li><span>Rating</span></li>
                    <li><span>Cost</span></li>
                    <li><span>Style</span></li>
                    </ui>
                    </div>
                    <div class="input-group">
                    <input type="text" class="form-control input-sm" placeholder="Recipient's username" aria-describedby="basic-addon2"><span class="input-group-addon"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-minus"></span></span>
                    </div>
                    
                    <div class="target">
                    <ui>
                    <li><span>Popularity</span></li>
                    <li><span>Rating</span></li>
                    <li><span>Cost</span></li>
                    <li><span>Style</span></li>
                    </ui>
                    </div>

                    
                </div>
            </div>
            <!-- Content Column -->
            <div class="col-md-7">
                 <div class="panel panel-default">
                    <div class="panel-heading">This Page is Disabled</div>
                    <div class="panel-body">This page is temporarily disabled by the site administrator for some reason.<br> <a href="#">Click here</a> to enable the page.</div>
                </div>
            </div>
            <div class="col-md-7">
                 <div class="panel panel-default">
                    <div class="panel-heading">This Page is Disabled</div>
                    <div class="panel-body">This page is temporarily disabled by the site administrator for some reason.<br> <a href="#">Click here</a> to enable the page.</div>
                </div>
            </div>
            <div class="col-md-7">
                 <div class="panel panel-default">
                    <div class="panel-heading">This Page is Disabled</div>
                    <div class="panel-body">This page is temporarily disabled by the site administrator for some reason.<br> <a href="#">Click here</a> to enable the page.</div>
                </div>
            </div>
        </div>
        <!-- /.row -->

 <script>
 $(document).ready(function() {
 $(".target").hide();
 $(".glyphicon-minus").hide();
  $(".glyphicon-plus").click(function(){
         $(".target").slideDown( 'fast', function(){
         $(".glyphicon-plus").hide();
         $(".glyphicon-minus").show(); 
                      });
      });

      $(".glyphicon-minus").click(function(){
         $(".target").slideUp( 'fast', function(){ 
        $(".glyphicon-plus").show(); 
        $(".glyphicon-minus").hide();
          });
      });
  });
 </script>      