 <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <a class="navbar-brand page-scroll" href="#page-top">Fashion World</a>
            </div>

        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                
            </div>
        </div>
    </header>

   
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
             <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Collections</h2>
                    <h3 class="section-subheading text-muted">Special Collections from chennai.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                            </div>
                        </div>
                        <img src="images/category/escape.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                            </div>
                        </div>
                        <img src="images/category/startup-framework.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                            </div>
                        </div>
                        <img src="images/category/treehouse.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                            </div>
                        </div>
                        <img src="images/category/golden.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                            </div>
                        </div>
                        <img src="images/category/escape.png" class="img-responsive" alt="">
                    </a>
                    
                </div>
                <div class="col-md-3 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                            </div>
                        </div>
                        <img src="images/category/dreams.png" class="img-responsive" alt="">
                    </a>
                    
                </div>
            </div>
        </div>
    </section>
    <section id="neighbourhoods" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Near Areas</h2>
                    <h3 class="section-subheading text-muted">Select area to search.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-6">
                    <div class="col-lg-2  col-sm-2 area-padding"><a href="#">Velachery</a></div>
                    <div class="col-lg-2  col-sm-2 area-padding"><a href="#">Adyar</a></div> 
                    <div class="col-lg-2  col-sm-2 area-padding"><a href="#">Tharamani</a></div>
                    <div class="col-lg-2  col-sm-2 area-padding"><a href="#">Thiruvanmayur</a></div>
                    <div class="col-lg-2  col-sm-2 area-padding"><a href="#">Guindy</a></div> 
                    <div class="col-lg-2  col-sm-2 area-padding"><a href="#">Pallikaranai</a></div>
                    <div class="col-lg-2  col-sm-2 area-padding"><a href="#">Purasaivakkam</a></div>
                    <div class="col-lg-2  col-sm-2 area-padding"><a href="#">ECR</a></div>
                    <div class="col-lg-2  col-sm-2 area-padding"><a href="#">OMR</a></div>
                    <div class="col-lg-2  col-sm-2 area-padding"><a href="#">Navalaur</a></div>
                    <div class="col-lg-2  col-sm-2 area-padding"><a href="#">Vada Pazani</a></div>
                    <div class="col-lg-2  col-sm-2 area-padding"><a href="#">Koyambadu</a></div>
                    <div class="col-lg-2  col-sm-2 area-padding"><a href="#">Thambaram</a></div>
                 </div>
            </div>
        </div>
    </section>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Your Website 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

   