<div class="top-most">
    <div class="navbar">
        <div class="navbar-header navbar-logo">
            <a class="navbar-brand" href="#">logo</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav navbar-right user-options">
                <li><a href="#"><i class="icomoon-search"></i></a>
                </li>
                <li><a href="#"><i class="icomoon-format-justify"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container top-container">
        <div class="init-search-option banner-text">
            <h2>TILE TEXT</h2>
            <div class="sub-text">
                One of the most important product. Which helps you to change the outlook of yours
                </br> Search it, Wear it
            </div>
            <form>
                <div class="input-group col-md-6">
                     <input type="text" ng-model="selected" typeahead="search as search.searchName for search in searchData | filter:$viewValue | limitTo:8" class="form-control" typeahead-template-url="customTemplate.html">
                </div>
                <div class="input-group">
                    <button type="submit" class="btn btn-search">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- tabs start -->
<div class="container tab-container col-md-12">
    <h2>More Collections</h2>
    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{'active':currentTab == 'offer'}"><a href="#" ng-click="switchTab('offer')">Offer</a></li>
        <li role="presentation" ng-class="{'active':currentTab == 'category'}"><a href="#" ng-click="switchTab('category')">Category</a></li>
        <li role="presentation" ng-class="{'active':currentTab == 'brand'}"><a href="#" ng-click="switchTab('brand')">Brand</a></li>
        <li role="presentation" ng-class="{'active':currentTab == 'popular'}"><a href="#" ng-click="switchTab('popular')">Popular</a></li>
    </ul>
    <!-- tab-content -->
    <div class="row">
        <div class=" col-xs-12" ng-if="currentTab == 'offer'">
            <div class="col-md-2 col-xs-4" ng-repeat="offer in offers">
                <div class="detail-box">
                    <img ng-src="{{offer.imageUrl}}" alt="">
                    <div class="info-text">
                        {{offer.name}}
                    </div>
                    <div class="on-over">
                        <span class="duration">Valid till- {{offer.expiresOn}}</span>                        
                        <span class="shop-name btn-outline-primary strong">{{offer.shops[0].name}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-xs-12" ng-if="currentTab == 'brand'">
            <div class="col-md-2 col-xs-4" ng-repeat="brand in brands">
                <div class="detail-box">
                    <img ng-src="{{brand.logo}}" alt="">
                    <div class="on-over">
                        <span class="duration">Show rooms- {{brand.showRooms}}</span>                        
                        <span class="shop-name btn-outline-primary strong">{{brand.name}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-xs-12" ng-if="currentTab == 'category'">
        <h3>Ladies category</h3>
            <div class="col-md-2 col-xs-4" ng-repeat="category in categories|filter:{typeId:1}">
                <div class="img-div">
                    <img ng-src="{{category.imageUrl}}" />
                </div>
            </div>
            <h3>Mens category</h3>
            <div class="col-md-2 col-xs-4" ng-repeat="category in categories|filter:{typeId:2}">
                <div class="img-div">
                    <img ng-src="{{category.imageUrl}}" />
                </div>
            </div>
        </div>
    </div>
    <div>
        <button class="browse-all btn-outline-default" type="button"> Browse All</button>
    </div>
</div>


        

<!-- tabs ends -->
<!-- pulse block starts -->
<div class="container pulse-container col-md-12">
    <div class="col-md-4">
        <div class="icons">
            <i class="icomoon-user"></i>
            <span class="mention">{{appDetails.users}}</span>
            <div class="pulse-title">
             <span class="strong"> Users </span>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="icons">
            <i class="icomoon-price-tag"></i>
            <span class="mention">{{appDetails.shops}}</span>
            <div class="pulse-title">
            <span class="strong">Shops</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="icons">
            <i class="icomoon-profile"></i>
            <span class="mention">{{appDetails.articals}}</span>
            <div class="pulse-title">
            <span class="strong">Articles</span>
            </div>
        </div>
    </div>
</div>
<!-- pulse block ends -->
<!-- latest-update starts -->
<div class=" container latest-update-container col-md-12">
    <h2>Latest Updates</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4" ng-repeat="update in updates">
                <div class="latest-box">
                    <img ng-src="{{update.imageUrl}}">
                    <div class="description">
                        <div class="date">{{update.createdDate}}</div>
                        <div class="block-title">{{update.heading}}</div>
                        {{update.description}}
                    </div>
                    <div class="read-more">
                        <button class="btn btn-primary" type="button">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- latest-update ends -->
<!-- press block starts -->
<div class="container press-container col-md-12">
    <h2>Press About US</h2>
    <span class="quotes">"</span>
    <span class="quote-text">
              {{appDetails.press}}      
    </span>
    <span class="quotes">"</span>
</div>
<!-- press block ends -->
<!-- newsleter starts  -->
<div class=" container newsletter-container col-md-12">
    <h2>Please subscribe for more <span class="highlight"> offers and updates</span></h2>
    <div class="sub-text"></div>
    <div class="subscribe-block">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="email address" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <button type="submit" class="btn btn-subscribe">Subscribe</button>
            </div>
        </form>
    </div>
</div>
<!-- newsleter starts  -->
<div class="container footer-container col-md-12">
    <div class="footer-content">
        <ul>
            <li>Home</li>
            <li>Offers</li>
            <li>Brands</li>
            <li>Articles</li>
            <li>About us</li>
        </ul>
        <ul>
            <li><i class="icomoon-google-plus"></i></li>
            <li><i class="icomoon-facebook"></i></li>
            <li><i class="icomoon-twitter"></i></li>
        </ul>
    </div>
    <div class="copy-rights">
        All rights are reserved
    </div>
</div>

<script type="text/ng-template" id="customTemplate.html">
  <a>
      <span bind-html-unsafe="match.label"></span>
      <span bind-html-unsafe="match.model.places"></span>
  </a>
</script>