<!-- =========================
     HEADER   
============================== -->
<header id="home">

<div class="color-overlay">
    
    <div class="navigation-header">
        

        <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">
            <div class="container">
                <div class="navbar-header">
                    

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#landx-navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><h4><span class="strong colored-text">Fashion</span> World</h4></a>
                    
                </div>
                
                <div class="navbar-collapse collapse" id="landx-navigation">
                   <ul class="nav navbar-nav navbar-right main-navigation">
                        <li><a href="#section6"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a></li>
                        <li><a href="#section7"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
                        <li><a href="#section8"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span></a></li>
                    </ul>
                </div>        
            </div>     
        </div>
        

        <div class="navbar non-sticky">
            
            <div class="container">
                
                <div class="navbar-header">
                <h1 class="intro">
                <span class="strong colored-text">Fashion</span> World
                </h1>
                </div>
                
            <!--    <ul class="nav navbar-nav navbar-right social-navigation hidden-xs">
                    <li><a href="#"><i class="social_facebook_circle"></i></a></li>
                    <li><a href="#"><i class="social_twitter_circle"></i></a></li>
                    <li><a href="#"><i class="social_linkedin_circle"></i></a></li>
                </ul> -->
                
            </div>
            
            
        </div>
       
        
    </div>
    

    <div class="container">
        
        <div class="row">
            
           
            <div class="col-md-10 col-md-offset-1 intro-section">
                
                <h3 class="intro">
                Choose your <span class="strong colored-text">Fashion</span> for your <strong>Style</strong>
                </h3>
                
                <p class="sub-heading">
                    
                </p>
                
                
            </div>
            
            
            
        </div>
        
        
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                
                <div class="sf-container">
                <form class="subscription-form mailchimp form-inline" role="form">
                
                
                <h6 class="subscription-success"></h6>
                <h6 class="subscription-error"></h6>
                
               
                <input type="text" name="text"  placeholder="Enter location" class="form-control input-box">
                <input type="text" name="text"  placeholder="Mens,Womens,Kids.." class="form-control input-box">

                
                
                <button type="submit" id="subscribe-button1" class="btn standard-button">Search</button>
                
            </form>
                </div>
                
            </div>
        </div>

        
    </div>
    
    
</div>

</header>

<!-- =========================
     SECTION 1   
============================== -->
<section class="section1" id="section1">

<div class="container">
    
    <h2>More Collections</h2>
    
    <div class="colored-line">
    </div>

    
    <div class="sub-heading">
        Collections from recent trends.
    </div>
    
    <div class="features">
        
        <div class="row">
            
            <div class="col-md-3">
                <div class="feature">
                <img src="images/collection5.jpeg" alt="Feature" class="img-responsive"/>
                    <!-- <div class="icon">
                        <span class="icon_compass_alt"></span>
                    </div>
                    <h4>Responsive Design</h4>
                    <p>
                        Lorem lean startup ipsum product market fit customer development acquihire technical cofounder. User engagement.
                    </p> -->
                </div>
            </div>
            
            
            <div class="col-md-3">
                <div class="feature">
                <img src="images/collection2.jpeg" alt="Feature" class="img-responsive"/>
                    <!-- <div class="icon">
                        <span class="icon_map_alt"></span>
                    </div>
                    <h4>350+ Font Icons</h4>
                    <p>
                        Lorem lean startup ipsum product market fit customer development acquihire technical cofounder. User engagement.
                    </p> -->
                </div>
            </div>
            
           
            <div class="col-md-3">
                <div class="feature">
                <img src="images/collection3.jpeg" alt="Feature" class="img-responsive"/>
                    <!-- <div class="icon">
                        <span class="icon_gift_alt"></span>
                    </div>
                    <h4>Built with Bootstrap 3.1</h4>
                    <p>
                        Lorem lean startup ipsum product market fit customer development acquihire technical cofounder. User engagement.
                    </p> -->
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="feature">
                <img src="images/collection4.jpeg" alt="Feature" class="img-responsive"/>
                    <!-- <div class="icon">
                        <span class="icon_gift_alt"></span>
                    </div>
                    <h4>Built with Bootstrap 3.1</h4>
                    <p>
                        Lorem lean startup ipsum product market fit customer development acquihire technical cofounder. User engagement.
                    </p> -->
                </div>
            </div>
        </div>
        
        <div class="row">
            
            
            <div class="col-md-3">
                <div class="feature">
                    <img src="images/collection6.jpg" alt="Feature" class="img-responsive"/>
                    <!-- <div class="icon">
                        <span class="icon_adjust-vert"></span>
                    </div>
                    <h4>Easy to Customize</h4>
                    <p>
                        Lorem lean startup ipsum product market fit customer development acquihire technical cofounder. User engagement.
                    </p> -->
                </div>
            </div>
            
            
            <div class="col-md-3">
                <div class="feature">
					<img src="images/collection8.jpg" alt="Feature" class="img-responsive"/>
                    <!--<div class="icon">
                        <span class="icon_tags_alt"></span>
                    </div>
                    <h4>Lots of Variations</h4>
                    <p>
                        Lorem lean startup ipsum product market fit customer development acquihire technical cofounder. User engagement.
                    </p> -->
                </div>
            </div>
            
            
            <div class="col-md-3">
                <div class="feature">
                    <img src="images/collection9.jpg" alt="Feature" class="img-responsive"/>
                    <!--<div class="icon">
                        <span class="icon_chat_alt"></span>
                    </div>
                    <h4>24/7 Chat Support</h4>
                    <p>
                        Lorem lean startup ipsum product market fit customer development acquihire technical cofounder. User engagement.
                    </p>-->
                </div>
            </div>

             
            <div class="col-md-3">
                <div class="feature">
					<img src="images/collection7.jpeg" alt="Feature" class="img-responsive"/>
                    <!--<div class="icon">
                        <span class="icon_chat_alt"></span>
                    </div>
                    <h4>24/7 Chat Support</h4>
                    <p>
                        Lorem lean startup ipsum product market fit customer development acquihire technical cofounder. User engagement.
                    </p> -->
                </div>
            </div>

        </div> 
    </div>
    <button type="submit" id="subscribe-button1" class="btn standard-button">Browse All</button>
</div> 
</section>

<!-- =========================
     SECTION 2   
============================== -->
<section class="section2 bgcolor-2" id="section2">
<div class="container">
    
    
    <h2>Screenshots</h2>
    <div class="colored-line">
    </div>
    
    <div class="sub-heading">
        Term sheet convertible note colluding bootstrapping.
    </div>
    
    
    <div class="row screenshots">
        
        <div id="screenshots" class="owl-carousel owl-theme">
            
            <div class="shot">
                <a href="images/screenshots/1.jpg" data-lightbox-gallery="screenshots-gallery"><img src="images/screenshots/1.jpg" alt="Screenshot"></a>
            </div>
            
            <div class="shot">
                <a href="images/screenshots/3.jpg" data-lightbox-gallery="screenshots-gallery"><img src="images/screenshots/3.jpg" alt="Screenshot"></a>
            </div>
            
            <div class="shot">
                <a href="images/screenshots/2.jpg" data-lightbox-gallery="screenshots-gallery"><img src="images/screenshots/2.jpg" alt="Screenshot"></a>
            </div>
            
            <div class="shot">
                <a href="images/screenshots/4.jpg" data-lightbox-gallery="screenshots-gallery"><img src="images/screenshots/4.jpg" alt="Screenshot"></a>
            </div>
            
            <div class="shot">
                <a href="images/screenshots/1.jpg" data-lightbox-gallery="screenshots-gallery"><img src="images/screenshots/1.jpg" alt="Screenshot"></a>
            </div>
            
            <div class="shot">
                <a href="images/screenshots/2.jpg" data-lightbox-gallery="screenshots-gallery"><img src="images/screenshots/2.jpg" alt="Screenshot"></a>
            </div>
        </div>
        
    </div> 
    
</div> 

</section>



<!-- =========================
     SECTION 3 - CTA  
============================== -->
<section class="cta-section" id="section3">
<div class="color-overlay">
    
    <div class="container">
        
        <h4>We Are Ready to Help You</h4>
        <h2>Get the best collections and offers from your subscription</h2>
        
        <!-- MAILCHIMP SUBSCRIBE FORM -->
            <form class="subscription-form mailchimp form-inline" role="form">
                
                <!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
                <h6 class="subscription-success"></h6>
                <h6 class="subscription-error"></h6>
                
                <!-- EMAIL INPUT BOX -->
                <input type="email" name="email" id="subscriber-email" placeholder="Your Email" class="form-control input-box">
                
                <!-- SUBSCRIBE BUTTON -->
                <button type="submit" id="subscribe-button" class="btn standard-button">Subscribe</button>
                
            </form>
            
            
        </div> 
        
</div> 

</section>

<script>
(function ($) {
    
    "use strict";
    $('.main-navigation').onePageNav({
        scrollThreshold: 0.2, // Adjust if Navigation highlights too early or too late
        scrollOffset: 75, //Height of Navigation Bar
        filter: ':not(.external)',
        changeHash: true
    }); 

    /* NAVIGATION VISIBLE ON SCROLL */
    mainNav();
    $(window).scroll(function () {
        mainNav();
    });

    function mainNav() {
        var top = (document.documentElement && document.documentElement.scrollTop) || document.body.scrollTop;
        if (top > 40) $('.sticky-navigation').stop().animate({
            "opacity": '1',
            "top": '0'
        });
        else $('.sticky-navigation').stop().animate({
            "opacity": '0',
            "top": '-75'
        });
    }

/* =================================
===  SMOOTH SCROLL             ====
=================================== */
    var scrollAnimationTime = 1200,
        scrollAnimation = 'easeInOutExpo';
    $('a.scrollto').bind('click.smoothscroll', function (event) {
        event.preventDefault();
        var target = this.hash;
        $('html, body').stop().animate({
            'scrollTop': $(target).offset().top
        }, scrollAnimationTime, scrollAnimation, function () {
            window.location.hash = target;
        });
    });


/* =================================
===  Bootstrap Internet Explorer 10 in Windows 8 and Windows Phone 8 FIX
=================================== */
    if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
        var msViewportStyle = document.createElement('style')
        msViewportStyle.appendChild(
        document.createTextNode('@-ms-viewport{width:auto!important}'))
        document.querySelector('head').appendChild(msViewportStyle)
    }
})(jQuery);




$(window).resize(function () {

    "use strict";

    var ww = $(window).width();
    
    /* COLLAPSE NAVIGATION ON MOBILE AFTER CLICKING ON LINK */
    
    if (ww < 480) {
        $('.main-navigation a').on('click', function () {
            $(".navbar-toggle").click();
        });
    }
});

/* =================================
===  OWL CROUSEL               ====
=================================== */
    var owl = $("#screenshots");
    owl.owlCarousel({
        items: 3, //3 items above 1000px browser width
        itemsDesktop: [1000, 3], //3 items between 1000px and 901px
        itemsDesktopSmall: [900, 2], // betweem 900px and 601px
        itemsTablet: [600, 1], //1 items between 600 and 0
        itemsMobile: false, // itemsMobile disabled - inherit from itemsTablet option
        navigation: false, // Show next and prev buttons
        slideSpeed: 800,
        paginationSpeed: 400,
        autoPlay: 5000,
        stopOnHover: true
    });

    var owl = $("#feedbacks");
    owl.owlCarousel({
        items: 3, //3 items above 1000px browser width
        itemsDesktop: [1000, 2], //2 items between 1000px and 901px
        itemsDesktopSmall: [900, 2], // betweem 900px and 601px
        itemsTablet: [600, 1], //1 items between 600 and 0
        itemsMobile: false, // itemsMobile disabled - inherit from itemsTablet option
        navigation: false, // Show next and prev buttons
        stopOnHover: true
    });


</script>
