<div ui-view=""></div>
<!-- =========================
     SECTION 10 - FOOTER 
============================== -->
<footer class="bgcolor-2">
<div class="container col-md-12">
    <div class="copyright">
         ©2015 Fashion World.
    </div>
    
    <ul class="social-icons">
        <li><a href=""><span class="social_facebook_square"></span></a></li>
        <li><a href=""><span class="social_twitter_square"></span></a></<div ui-view=""></li>
        <li><a href=""><span class="social_pinterest_square"></span></a></li>
        <li><a href=""><span class="social_googleplus_square"></span></a></li>
        <li><a href=""><span class="social_instagram_square"></span></a></li>
        <li><a href=""><span class="social_linkedin_square"></span></a></li>
    </ul>
    
</div>
</footer>
