<header id="home">
    <div class="color-overlay">
        <div class="navigation-header">
            <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#landx-navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <h4>
                                <span class="strong colored-text">Fashion</span>World</h4>
                        </a>
                    </div>
                    <div class="navbar-collapse collapse" id="landx-navigation">
                        <!--    <ul class="nav navbar-nav navbar-right main-navigation">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#section1">Brief</a></li>
                        <li><a href="#section3">Features</a></li>
                        <li><a href="#section4">Pricing</a></li>
                        <li><a href="#section5">Video</a></li>
                        <li><a href="#section6">Screenshots</a></li>
                        <li><a href="#section7">Testimonial</a></li>
                        <li><a href="#section8">Contact</a></li>
                    </ul> -->
                    </div>
                </div>
            </div>
            <div class="navbar non-sticky">
                <div class="container">
                    <div class="navbar-header">
                    </div>

                    <!--    <ul class="nav navbar-nav navbar-right social-navigation hidden-xs">
                    <li><a href="#"><i class="social_facebook_circle"></i></a></li>
                    <li><a href="#"><i class="social_twitter_circle"></i></a></li>
                    <li><a href="#"><i class="social_linkedin_circle"></i></a></li>
                </ul> -->

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7 intro-section detail-page">
                    <!-- content over the image -->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- area after the image container at the top -->
<section class="section3 bgcolor-2" id="section3">
    <div class="col-sm-12">
        <!-- content -->
        <div class="row">
            <!-- filter col left -->
            <div class="col-sm-3">
                <div class="list-group">
                    <span class="filter-heading">Filters</span>
                    <div class="input-group filter-box">
                        <input type="text" class="form-control input-sm filter-input" placeholder="Popularity" aria-describedby="basic-addon2">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span class="glyphicon glyphicon-minus"></span>
                        </span>
                    </div>
                    <div class="target">
                        <ul class="filter-list">
                            <li>
                                <span>Popularity</span>
                            </li>
                            <li>
                                <span>Rating</span>
                            </li>
                            <li>
                                <span>Cost</span>
                            </li>
                            <li>
                                <span>Style</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="list-group">
                    <span class="filter-heading">Location</span>
                    <div class="input-group filter-box">
                        <input type="text" class="form-control input-sm filter-input" placeholder="Type to filter" aria-describedby="basic-addon2">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span class="glyphicon glyphicon-minus"></span>
                        </span>
                    </div>

                    <div class="target1">
                        <ul class="filter-list">
                            <li>
                                <span>Popularity</span>
                            </li>
                            <li>
                                <span>Rating</span>
                            </li>
                            <li>
                                <span>Cost</span>
                            </li>
                            <li>
                                <span>Style</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="list-group">
                    <span class="filter-heading ">Type</span>
                    <div class="input-group filter-box">
                        <input type="text" class="form-control input-sm filter-input" placeholder="Type to filter" aria-describedby="basic-addon2">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span class="glyphicon glyphicon-minus"></span>
                        </span>
                    </div>
                    <div class="target2">
                        <ul class="filter-list">
                            <li>
                                <span>Popularity</span>
                            </li>
                            <li>
                                <span>Rating</span>
                            </li>
                            <li>
                                <span>Cost</span>
                            </li>
                            <li>
                                <span>Style</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- filter left col ends -->


            <div class="col-sm-7 col-md-7">
                <div>
                  Offer Listings
                </div>
                <div class="col-md-3 col-md-3">
                  <div class="offer-box">
                      Offer 1
                      <span class="offer-detail">
                        detailed information about the particular
                      </span>
                  </div>
                </div>
                <div class="col-md-3 col-md-3">
                   <div class="offer-box">
                      Offer 2
                  </div>
                </div>
                <div class="col-md-3 col-md-3">
                  <div class="offer-box">
                      Offer 3
                  </div>
                </div>
                <div class="col-md-3 col-md-3">
                   <div class="offer-box">
                      Offer 4
                  </div>
                </div>
            </div>
        </div>
        <!--/row-->
    </div>
</section>
</div>
