<header id="home">
    <div class="color-overlay">
        <div class="navigation-header">
            <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#landx-navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <h4>
                                <span class="strong colored-text">Fashion</span>World</h4>
                        </a>
                    </div>
                    <div class="navbar-collapse collapse" id="landx-navigation">
                    </div>
                </div>
            </div>
            <div class="navbar non-sticky">
                <div class="container">
                    <div class="navbar-header">
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7 intro-section detail-page">

                </div>
            </div>
        </div>
    </div>
</header>
<!-- area after the image container at the top -->
<section class="section3 bgcolor-2" id="section3">
    <div class="col-sm-12">

        <div class="row">

            <div class="col-sm-3">
                <div class="list-group">
                    <span class="filter-heading">Filters</span>
                    <div class="input-group filter-box">
                        <input type="text" class="form-control input-sm filter-input" placeholder="Popularity" aria-describedby="basic-addon2">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span class="glyphicon glyphicon-minus"></span>
                        </span>
                    </div>
                    <div class="target">
                        <ul class="filter-list">
                            <li>
                                <span>Popularity</span>
                            </li>
                            <li>
                                <span>Rating</span>
                            </li>
                            <li>
                                <span>Cost</span>
                            </li>
                            <li>
                                <span>Style</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="list-group">
                    <span class="filter-heading">Location</span>
                    <div class="input-group filter-box">
                        <input type="text" class="form-control input-sm filter-input" placeholder="Type to filter" aria-describedby="basic-addon2">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span class="glyphicon glyphicon-minus"></span>
                        </span>
                    </div>

                    <div class="target1">
                        <ul class="filter-list">
                            <li>
                                <span>Popularity</span>
                            </li>
                            <li>
                                <span>Rating</span>
                            </li>
                            <li>
                                <span>Cost</span>
                            </li>
                            <li>
                                <span>Style</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="list-group">
                    <span class="filter-heading ">Type</span>
                    <div class="input-group filter-box">
                        <input type="text" class="form-control input-sm filter-input" placeholder="Type to filter" aria-describedby="basic-addon2">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span class="glyphicon glyphicon-minus"></span>
                        </span>
                    </div>
                    <div class="target2">
                        <ul class="filter-list">
                            <li>
                                <span>Popularity</span>
                            </li>
                            <li>
                                <span>Rating</span>
                            </li>
                            <li>
                                <span>Cost</span>
                            </li>
                            <li>
                                <span>Style</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
<!-- filter left col ends -->
<div class="col-sm-7 col-md-7">
    <div>
        Offer Listings
    </div>
    <div class="col-md-3 col-md-3">
        <div class="offer-box">
            <div class="offer-heading">50 % Off</div>
            <div class='offer-img'>
                <img src="http://i.stack.imgur.com/rOVDt.jpg">
            </div>
            <div class="offer-detail">
                <div>Name of the Shop</div>
                <div>Address</div>
                <div>Description</div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-md-3">
        <div class="offer-box">
            <div class="offer-heading">20 to 30% Off</div>
            <div class='offer-img'>
                <img src="http://i.stack.imgur.com/rOVDt.jpg">
            </div>
            <div class="offer-detail">
                <div>Name of the Shop</div>
                <div>Address</div>
                <div>Description</div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-md-3">
        <div class="offer-box">
            <div class='offer-img'>
                <img src="http://i.stack.imgur.com/rOVDt.jpg">
            </div>
            <div class="offer-heading">Festive Offer</div>
            <div class="offer-detail">
                <div>Name of the Shop</div>
                <div>Address</div>
                <div>Description</div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-md-3">
        <div class="offer-box">
            <div class='offer-img'>
                <img src="http://i.stack.imgur.com/rOVDt.jpg">
            </div>
            <div class="offer-heading">Special</div>

            <div class="offer-detail">
                <div>Name of the Shop</div>
                <div>Address</div>
                <div>Description</div>
            </div>
        </div>
    </div>
</div>
</div>
<!--/row-->
</div>
</section>
</div>