

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                
            </div>
        </div>
    </header>

   

    <section>
        <div class="container">
             
            <div class="row">
            <div class="col-md-3 ">
            <div class="mini-box">box1</div>
            <div class="mini-box">box2</div>
            <div class="mini-box">box3</div>
        </div>
        <div class="col-md-6 my-border no-padding">
            <div class="panel panel-default">
                <div class="form-group col-md-12">
                                   <form class="form-horizontal" role="form">
                                    <h4>What's New</h4>
                                     <div class="form-group" style="padding:14px;">
                                      <textarea class="form-control" placeholder="Update your status"></textarea>
                                    </div>
                                    <button class="btn btn-primary pull-right" type="button">Post</button><ul class="list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
                                  </form>
                </div>
            </div>
        </div>
        <div class="col-md-3 my-border">
            <div class="mini-box">box1</div>
            <div class="mini-box">box2</div>
            <div class="mini-box">box3</div>
        </div> 
            </div>
        </div>
    </section>


