    
    <div class="navigation-header">   
        <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">
            <div class="container">
                <div class="navbar-header">                     
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#landx-navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><h4><span class="strong colored-text">Fashion</span> World</h4></a>           
                </div>
            </div>     
        </div>       
    </div>

     <div class="detail-page">
            <div class="row">
            <div class="col-md-7 col-sm-7 intro-section">
                
                <h2 class="intro text-left">
                i <span class="strong colored-text">Style</span>
                </h2>
                 <div class="detail-line"></div>
                <div>
                <span class="options">
                  <a href="#section1" class="btn secondary-button-white pull-left">Write Review</a>
                </span>
                <span class="header-rating">
                <div class="input select rating-c blue-pill deactivated rating-enable btn secondary-button-white">
                  <select id="example-c" name="rating">
                  <option value=""></option>
                  <option value="1"></option>
                  <option value="2"></option>
                  <option value="3"></option>
                  <option value="4"></option>
                  <option value="5"></option>
                  <option value="6"></option>
                  <option value="7"></option>
                  <option value="8"></option>
                  <option value="8"></option>
                  <option value="10"></option>
                  </select>
                </div>
                </span>
                <span class="options">
                  <a href="#section1" class="btn secondary-button-white pull-left">Book Mark</a>
                </span>
                <span class="options">
                  <a href="#section1" class="btn secondary-button-white pull-left">Like</a>
                </span>
                </div>

                
                
            </div>
            
            </div>
      </div>


      <div class="detail-category">
      category
      </div>
      
      

<script type="text/javascript">
        $(function () {
            $('.rating-enable').click(function () {
                

                $('#example-c').barrating('show', {
                    showValues:true,
                    showSelectedRating:false
                });

                $(this).addClass('deactivated');
                $('.rating-disable').removeClass('deactivated');
            });

            $('.rating-disable').click(function () {
                $('select').barrating('destroy');
                $(this).addClass('deactivated');
                $('.rating-enable').removeClass('deactivated');
            });

            $('.rating-enable').trigger('click');
        });
    </script>

