<!-- =========================
     HEADER   
============================== -->
<header id="home">

<!-- COLOR OVER IMAGE -->
<div class="color-overlay">
    
    <div class="navigation-header">
        
        <!-- STICKY NAVIGATION -->
        <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">
            <div class="container">
                <div class="navbar-header">
                    
                    <!-- LOGO ON STICKY NAV BAR -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#landx-navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><h4><span class="strong colored-text">Fashion</span> World</h4></a>
                    
                </div>
                
                <!-- NAVIGATION LINKS -->
                <div class="navbar-collapse collapse" id="landx-navigation">
                <!--    <ul class="nav navbar-nav navbar-right main-navigation">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#section1">Brief</a></li>
                        <li><a href="#section3">Features</a></li>
                        <li><a href="#section4">Pricing</a></li>
                        <li><a href="#section5">Video</a></li>
                        <li><a href="#section6">Screenshots</a></li>
                        <li><a href="#section7">Testimonial</a></li>
                        <li><a href="#section8">Contact</a></li>
                    </ul> -->
                </div>
                
            </div>
            <!-- /END CONTAINER -->
            
        </div>
        
        <!-- /END STICKY NAVIGATION -->
        
        <!-- ONLY LOGO ON HEADER -->
        <div class="navbar non-sticky">
            
            <div class="container">
                
                <div class="navbar-header">
               
                    <!-- <img src="images/logo.png" alt=""> -->
                </div>
                
            <!--    <ul class="nav navbar-nav navbar-right social-navigation hidden-xs">
                    <li><a href="#"><i class="social_facebook_circle"></i></a></li>
                    <li><a href="#"><i class="social_twitter_circle"></i></a></li>
                    <li><a href="#"><i class="social_linkedin_circle"></i></a></li>
                </ul> -->
                
            </div>
            <!-- /END CONTAINER -->
            
        </div>
        <!-- /END ONLY LOGO ON HEADER -->
        
    </div>
    
    <!-- HEADING, FEATURES AND REGISTRATION FORM CONTAINER -->
    <div class="container">
        
        <div class="row">
            
            <!-- LEFT - HEADING AND TEXTS -->
            <div class="col-md-10 col-md-offset-1 intro-section">
                
                <h3 class="intro">
                
                </h3>
                
                <p class="sub-heading">
            <div class="input select rating-c blue-pill deactivated rating-enable">
            <select id="example-c" name="rating">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
                </p>
                
                
            </div>
            
            
            
        </div>
        
    </div>
    
    
</div>

</header>



    
                        <section class="section3 bgcolor-2" id="section3">
                            <div class="col-sm-9">
                              
                                <!-- content -->                      
                                <div class="row">
                                  
                                 <!-- main col left --> 
                                 <div class="col-sm-5">
                                   <!-- 
                                      <div class="panel panel-default">
                                        <div class="panel-thumbnail"><img src="assets/img/bg_5.jpg" class="img-responsive"></div>
                                        <div class="panel-body">
                                          <p class="lead">Urbanization</p>
                                          <p>45 Followers, 13 Posts</p>
                                          
                                          <p>
                                            <img src="assets/img/uFp_tsTJboUY7kue5XAsGAs28.png" height="28px" width="28px">
                                          </p>
                                        </div>
                                      </div> -->

                                   
                                      <div class="panel panel-default">
                                          <div class="panel-body">
                                            <div class="list-group">
                                              
                                            </div>
                                          </div>
                                      </div>


                                      <div class="panel panel-default">
                                         <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>L0cation</h4></div>
                                          <div class="panel-body">
                                             <a href="#">Shop Name</a>
                                            <div class="clearfix"></div>
                                            There a load of new free Bootstrap 3
         ready templates at Bootply. All of these templates are free and don't 
        require extensive customization to the Bootstrap baseline.
                                            <hr>
                                            <ul class="list-unstyled"><li><a href="http://usebootstrap.com/theme/facebook">Dashboard</a></li><li><a href="http://usebootstrap.com/theme/facebook">Darkside</a></li><li><a href="http://usebootstrap.com/theme/facebook">Greenfield</a></li></ul>
                                          </div>
                                      </div>

                                      <div class="panel panel-default">
                                        <div class="panel-thumbnail"></div>
                                        <div class="panel-body">
                                          <p class="lead">Social Good</p>
                                          <p>1,200 Followers, 83 Posts</p>
                                          
                                          <p>
                                            
                                          </p>
                                        </div>
                                      </div>


                                





                                      </div>


<!-- main col right -->
                                  <div class="col-sm-7">
                                       
                              
                                       <div class="panel panel-default">
                                         <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Collection Special</h4></div>
                                          <div class="panel-body">
                                            <p> <a href="#">The Bootstrap Playground</a></p>
                                            <div class="clearfix"></div>
                                            <hr>
                                            Design, build, test, and prototype 
        using Bootstrap in real-time from your Web browser. Bootply combines the
         power of hand-coded HTML, CSS and JavaScript with the benefits of 
        responsive design using Bootstrap. Find and showcase Bootstrap-ready 
        snippets in the 100% free Bootply.com code repository.
                                          </div>
                                       </div>

                                             <div class="well"> 
                                           <form class="form-horizontal" role="form">
                                            <h4>Write Review</h4>
                                             <div class="form-group" style="padding:14px;">
                                              <textarea class="form-control" placeholder="Update your status"></textarea>
                                            </div>
                                            <button class="btn btn-primary pull-right" type="button">Post</button><ul class="list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
                                          </form>
                                      </div>
                                    
                                       <div class="panel panel-default">
                                         <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Stackoverflow</h4></div>
                                          <div class="panel-body">
                                         <a href="#">Keyword: Bootstrap</a>
                                            <div class="clearfix"></div>
                                            <hr>
                                            
                                            <p>If you're looking for help with Bootstrap code, the <code>twitter-bootstrap</code> tag at <a href="http://stackoverflow.com/questions/tagged/twitter-bootstrap">Stackoverflow</a> is a good place to find answers.</p>
                                            
                                            <hr>
                                            <form>
                                            <div class="input-group">
                                              <div class="input-group-btn">
                                              <button class="btn btn-default">+1</button><button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
                                              </div>
                                              <input class="form-control" placeholder="Add a comment.." type="text">
                                            </div>
                                            </form>
                                            
                                          </div>
                                       </div>

                                       <div class="panel panel-default">
                                         <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Stackoverflow</h4></div>
                                          <div class="panel-body">
                                         <a href="#">Keyword: Bootstrap</a>
                                            <div class="clearfix"></div>
                                            <hr>
                                            
                                            <p>If you're looking for help with Bootstrap code, the <code>twitter-bootstrap</code> tag at <a href="http://stackoverflow.com/questions/tagged/twitter-bootstrap">Stackoverflow</a> is a good place to find answers.</p>
                                            
                                            <hr>
                                            <form>
                                            <div class="input-group">
                                              <div class="input-group-btn">
                                              <button class="btn btn-default">+1</button><button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
                                              </div>
                                              <input class="form-control" placeholder="Add a comment.." type="text">
                                            </div>
                                            </form>
                                            
                                          </div>
                                       </div>

                                       <div class="panel panel-default">
                                         <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Stackoverflow</h4></div>
                                          <div class="panel-body">
                                         <a href="#">Keyword: Bootstrap</a>
                                            <div class="clearfix"></div>
                                            <hr>
                                            
                                            <p>If you're looking for help with Bootstrap code, the <code>twitter-bootstrap</code> tag at <a href="http://stackoverflow.com/questions/tagged/twitter-bootstrap">Stackoverflow</a> is a good place to find answers.</p>
                                            
                                            <hr>
                                            <form>
                                            <div class="input-group">
                                              <div class="input-group-btn">
                                              <button class="btn btn-default">+1</button><button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
                                              </div>
                                              <input class="form-control" placeholder="Add a comment.." type="text">
                                            </div>
                                            </form>
                                            
                                          </div>
                                       </div>

                                       <div class="panel panel-default">
                                         <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Portlet Heading</h4></div>
                                          <div class="panel-body">
                                            <ul class="list-group">
                                            <li class="list-group-item">Modals</li>
                                            <li class="list-group-item">Sliders / Carousel</li>
                                            <li class="list-group-item">Thumbnails</li>
                                            </ul>
                                          </div>
                                       </div>
                                    
                                       
                                    
                                  </div>
                               </div><!--/row-->




<script type="text/javascript">
        $(function () {
            $('.rating-enable').click(function () {
                

                $('#example-c').barrating('show', {
                    showValues:true,
                    showSelectedRating:false
                });

                $(this).addClass('deactivated');
                $('.rating-disable').removeClass('deactivated');
            });

            $('.rating-disable').click(function () {
                $('select').barrating('destroy');
                $(this).addClass('deactivated');
                $('.rating-enable').removeClass('deactivated');
            });

            $('.rating-enable').trigger('click');
        });
    </script>

















                                      </div></section></div>