body {
  color: #3d4d65;
}
.my-wrapper {
  width: 100%;
  padding: 0;
}
.strong {
  font-weight: bold;
}
.navbar-logo {
  padding-left: 40px;
}
.user-options {
  padding-right: 40px;
}
.user-options a {
  color: white;
  font-size: 14px;
  font-weight: bold;
}
.init-search-option {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  top: 22%;
}
.init-search-option .input-group {
  display: inline-block;
}
.init-search-option .input-group button {
  top: -13px;
  position: relative;
}
.top-most {
  height: 500px;
  background: url('../../images/top-bg.jpg') repeat;
  color: #3d4d65;
}
.top-most:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}
.banner-text {
  font-weight: bold;
  text-align: center;
  color: white;
}
.banner-text .sub-text {
  line-height: 25px;
  margin-bottom: 10px;
}

.area-container{
  text-align: center;
  background: #ffffff;
  min-height: 450px;
  padding-top: 15px;
}

.tab-container {
  text-align: center;
  background: #eceff4;
  min-height: 450px;
  padding-top: 15px;
}
.tab-container h2 {
  margin-top: 10px;
}
.tab-container ul.nav-tabs > li {
  float: none;
  display: inline-block;
  margin-top: 10px;
}
.tab-container ul.nav-tabs > li > a {
  padding: 10px 65px;
  font-weight: bold;
}
.tab-container ul.nav-tabs > li:hover {
  background: white;
}
.tab-container .nav-tabs {
  border-bottom: 4px solid white;
}
.tab-container .browse-all {
  margin: 20px 0 35px 0;
  padding: 10px 25px;
  text-transform: uppercase;
}
.pulse-container {
  text-align: center;
  height: 145px;
  background-image: url('images/top-bg.jpg') repeat;
  background: -webkit-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.pulse-container h2 {
  margin-top: 10px;
  color: white !important;
}
.pulse-container .icons {
  font-size: 40px;
  color: white;
}
.pulse-container .icons .mention {
  font-weight: bold;
}
.pulse-container .icons .pulse-title {
  color: white;
  margin-top: -8px;
  font-size: 14px;
}
.pulse-container:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  background: -webkit-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -moz-linear-gradient(right, rgba(0, 130, 213, 0.2), #a234d5);
}
.latest-update-container {
  background: #eceff4;
  min-height: 200px;
  padding-bottom: 40px;
}
.latest-update-container h2 {
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}
.press-container {
  background: white;
  min-height: 150px;
  text-align: center;
  margin-bottom: 20px;
  clear: both;
}
.press-container h2 {
  padding: 20px 0 0 0;
}
.press-container span.quotes {
  font-size: 36px;
  color: gray;
}
.press-container .quote-text {
  font-size: 20px;
  font-style: italic;
}
.newsletter-container {
  min-height: 100px;
  background: url('../../images/top-bg.jpg') repeat;
  text-align: center;
  color: white;
}
.newsletter-container h2 {
  padding: 20px;
  text-transform: uppercase;
  margin-bottom: -25px;
}
.newsletter-container .sub-text {
  padding: 15px;
}
.newsletter-container .subscribe-block {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.newsletter-container .subscribe-block .input-group {
  display: inline-block;
}
.newsletter-container .subscribe-block button {
  position: relative;
  top: -13px;
}
.newsletter-container .highlight {
  color: #04be5b;
}
.newsletter-container:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  background: -webkit-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -moz-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.newsletter-container:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  background: -webkit-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -moz-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.footer-container {
  background: #3d4d65;
  min-height: 150px;
  text-align: center;
  color: white;
}
.footer-container .footer-content {
  padding-top: 20px;
}
.footer-container .footer-content ul {
  list-style: none;
  padding: 0;
}
.footer-container .footer-content ul li {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
}
.footer-container .footer-content ul li:hover {
  color: #8493a8;
}
.footer-container .copy-rights {
  margin-top: 10px;
  padding-top: 20px;
  border-top: 1px solid #8493a8;
}
.navbar-icon {
  padding-right: 20px;
}
.navbar-icon .search {
  display: inline-block;
}
.navbar-icon i {
  color: white;
  font-size: 16px;
}
.detail-box {
  position: relative;
  margin: 20px auto;
  border: 1px solid white;
  width: 200px;
  height: 255px;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}
.detail-box img {
  height: inherit;
  width: inherit;
}
.detail-box .info-text {
  position: absolute;
  font-size: 20px;
  color: white;
  margin: 0 auto;
  bottom: 50%;
}
.detail-box:hover .on-over {
  left: 0%;
  transition: left ease 0.5s;
}
.detail-box .on-over {
  height: 90px;
  background: white;
  position: absolute;
  bottom: -1px;
  width: inherit;
  left: -100%;
}
.detail-box .on-over .duration {
  padding: 10px 0 16px 0;
  display: block;
}
.detail-box .on-over .shop-name {
  padding: 8px 30px;
  font-weight: bold;
  border-radius: 10px;
}
.latest-box {
  position: relative;
  height: 400px;
  width: 350px;
  margin: 30 auto;
  border: 1px solid black;
  background: white;
}
.latest-box img {
  position: absolute;
  top: 0;
  height: 200px;
  width: inherit;
  border-bottom: 1px solid #dddddd;
}
.latest-box .description {
  position: relative;
  top: 210px;
  padding: 10px;
  text-align: justify;
}
.latest-box .description .block-title {
  font-size: 22px;
  padding: 26px 0 10px 0;
}
.latest-box .description .date {
  float: left;
}
.latest-box .read-more {
  position: absolute;
  bottom: 5px;
  left: 10px;
}
.btn-outline-default {
  border: 1px solid #f1f2f7;
  background: white;
  border-radius: 2px;
}
.btn-outline-default:hover {
  border: 1px solid #d1d4e4;
}
.btn-outline-primary {
  border: 1px solid #0082d5;
  background: white;
  border-radius: 2px;
}
.btn-outline-primary.strong {
  border: 2px solid #0072bc;
}
.btn-outline-primary:hover {
  border: 2px solid #0072bc;
}
.btn-search {
  background-color: #ff9948;
  color: white;
  padding: 5px 8px;
}
.btn-search:hover {
  background-color: #ff8b2e;
  color: white;
}
.btn-subscribe {
  background-color: #04be5b;
  color: white;
  padding: 5px 8px;
}
.btn-subscribe:hover {
  background-color: #03a54f;
  color: white;
}
.detail-header {
  height: 250px;
  background: url('../../images/top-bg.jpg') repeat;
  color: #3d4d65;
  margin-bottom: 20px;
}
.address-box {
  text-align: left;
}
.branch-box ul {
  padding: 0;
}
.branch-box ul > li {
  list-style: none;
}
.map-box ul {
  padding: 0;
}
.map-box ul > li {
  list-style: none;
  display: inline-block;
}
.map-box ul > li span {
  display: block;
}
.map-box ul > li span.number {
  font-weight: bold;
}
.map-box ul > li span.caption {
  font-size: 12px;
}
.timing-box div.list span.status {
  float: right;
  border-radius: 8px;
  padding: 2px 4px 2px 4px;
  background: green;
  color: white;
}
.offer-box ul {
  padding: 0;
  border-bottom: 1px solid gray;
}
.offer-box ul > li {
  list-style: none;
  padding: 5px;
}
.offer-box ul > li .tag-icon {
  background-color: green;
}
.offer-box ul > li .offer-title {
  font-weight: bold;
}
.offer-box ul > li .offer-subtext {
  font-style: italic;
}
.sticky-tags {
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
}
.sticky-tags.warning {
  background-color: yellow;
  color: white;
}
.sticky-tags.success {
  background-color: green;
  color: white;
}
.sticky-tags.failure {
  background-color: red;
  color: white;
}
.sticky-tags.middle {
  background-color: blue;
  color: white;
}
.category-list ul,
.brand-list ul {
  padding: 0;
}
.category-list ul > li,
.brand-list ul > li {
  list-style: none;
  padding: 5px 2px;
}
.photo-list img {
  height: 150px;
  width: 200px;
  display: inline-block;
  padding: 5px;
}
.shop-list {
  background: #CBD3E0;
  position: absolute;
  width: 100%;
  min-height: 100%;
}
.shop-list .header {
  margin: 10px;
  border-radius: 5px;
}
.shop-list .header .navbar-right {
  margin-right: 0px;
}
.shop-list .header .navbar-right:last-child {
  margin-right: 0px;
}
.shop-list .header .navbar-right li {
  padding: 10px 0;
}
.shop-list .header .navbar-right li .header-search-box {
  height: 30px;
  border: 1px solid #e0e1e5;
  background: #eceff4;
}
.shop-list .data-container {
  width: 100%;
}
.shop-list .data-container .filter-panel {
  overflow: auto;
}
.shop-list .data-container .one-shop {
  margin-bottom: 10px;
  border-radius: 5px;
  height: 300px;
  background: white;
}
.shop-list .data-container .one-shop img {
  width: 100%;
  height: 150px;
  border-bottom: 3px solid #EBEBEF;
}
.shop-list .data-container .shop-wrapper:nth-child(4n) {
  padding-right: 0;
}
.shop-list .data-container .shop-wrapper:nth-child(4n+1) {
  padding-left: 0;
}
.shop-list .data-container .filter-block {
  background: white;
  border-radius: 5px;
  margin-bottom: 10px;
}
.shop-list .data-container .filter-block .filter-header {
  background: #ECEFF4;
  font-size: 16px;
  font-weight: bold;
  color: #929AA9;
}
.shop-list .data-container .filter-block .filter-content {
  word-wrap: break-word;
}
.shop-list .shop-name-block {
  width: 100%;
  padding: 0 5px;
  height: 50px;
  position: relative;
}
.shop-list .shop-name-block .shop-name {
  float: left;
  text-align: center;
  max-width: 85%;
  height: inherit;
}
.shop-list .shop-name-block .shop-name .name {
  color: #83909c;
  font-size: 18px;
  font-weight: bold;
  max-height: 30px;
  line-height: 15px;
  margin-top: 3px;
  overflow: hidden;
}
.shop-list .shop-name-block .shop-name .sub-header {
  color: #ABB5BE;
  height: 20px;
  overflow: hidden;
  font-size: 12px;
}
.shop-list .shop-name-block .is-rated {
  border-left: 3px solid #EBEBEF;
  border-right: 3px solid #EBEBEF;
  box-sizing: border-box;
  position: relative;
  float: right;
  width: 20px;
  margin-right: -3px;
}
.shop-list .shop-name-block .is-rated li {
  padding: 0 !important;
  font-size: 15px;
}
.shop-list .shop-name-block .is-rated:before {
  background: white none repeat scroll 0 0;
  border-left: 3px solid #EBEBEF;
  border-top: 3px solid #EBEBEF;
  bottom: -5px;
  content: "";
  height: 48%;
  position: absolute;
  right: 5%;
  transform: rotate(45deg);
  width: 92%;
}
.shop-list .shop-address-rating-block {
  width: 100%;
  padding: 0 5px;
  height: 50px;
}
.shop-list .shop-address-rating-block .shop-address-block {
  color: #abb5be;
  font-size: 13px;
  height: 50px;
  line-height: 10px;
  overflow: hidden;
  width: 85%;
  word-break: break-all;
}
.shop-list .shop-address-rating-block .shop-rating-block {
  text-align: right;
  width: 100%;
  color: #abb5be;
  font-weight: bold;
}
.shop-list .shop-address-rating-block .shop-rating-block li {
  padding: 2px !important;
  font-size: 15px;
  cursor: default !important;
}
.shop-list .footer-container {
  background: #3D4D66;
}
.shop-list .footer-content {
  text-align: center;
  border-bottom: 2px solid #4C5C75;
}
.shop-list .footer-content li {
  color: white;
}
.shop-list .copy-right {
  padding-top: 10px;
  color: #6A7A91;
}
